.nav {
  position: fixed;
  width: clamp(160px, 200px, 240px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.nav__list {
  display: flex;
  flex-direction: column;
}
