@mixin nav_line($last: true) {
  content: "";
  position: absolute;
  border-left: 3px solid $color-brand-dark;
  height: 12px;
  top: 65px;
  left: 30px;

  @if $last == true {
    top: -12px;
  }
}

.nav__item {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border: 3px solid $color-brand-dark;
  text-align: center;
  padding-top: 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &::after {
    @include nav_line(false);
  }

  &:last-child::after {
    @include nav_line(true);
  }

  &.li_active {
    background-color: $color-brand-dark;
    margin-bottom: 50px;

    &:last-child {
      margin-top: 40px;
      margin-bottom: 10px;

      &::after {
        top: -55px;
      }
    }

    & > a {
      color: $color-brand-light;
    }

    &::after {
      height: 52px;
    }
  }
}
