// :root {
//     --color-primary-dark: #545454;
//     --color-primary-light: #faf7eb;
//     --color-brand-dark: #4a1e12;
    // --color-brand-normal: #819b57;
    // --color-brand-light: #cfcfbc;
// }

$color-primary-dark: #545454;
$color-primary-light: #faf7eb;
$color-brand-dark: #4a1e12;
// $color-brand-light: #fff;
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;